<section>
    {{!-- <h1>Welcome <span class="{{#if isAdmin}}is-admin{{/if}}">{{user}}</span></h1> --}}
    <h1>Welcome, {{userFromSession.name}}</h1>
</section>
<section>
    <h1>Create flat</h1>
   <form action="/create-flat" method="post">
        <input type="text" name="flatName" placeholder="flat name">
        <label for="flatmembers">Choose flatmates</label>
        <select name="flatMembers" id="flatmembers" multiple>
            {{#each allUsers}}
            <option value="{{_id}}">{{username}}</option>
            {{/each}}
        </select>
        <button>Create flat</button>
    </form>
    {{#if error}}
        {{error}}
    {{/if}}
</section>