<section>
    {{!-- <h1>Welcome <span class="{{#if isAdmin}}is-admin{{/if}}">{{user}}</span></h1> --}}
    <h1>Welcome, {{userFromSession.name}}</h1>
</section>
<section>
    <h1>Edit flatname</h1>
   <form action="/flat/{{flatToEdit.id}}/update" method="post">
        <input type="text" name="flatName" value="{{flatToEdit.name}}">
        <button>Update flat</button>
    </form>
    {{#if error}}
        {{error}}
    {{/if}}
</section>