<section>
        <h1>Welcome, <span class="name">{{userFromSession.name}}</span> {{#if userIsAdmin}}<span class="is-admin">ADMIN</span>{{/if}}</h1>
   {{!-- {{#if announcement}}
        <div class="announcement">
            {{announcement}}
        </div>
    {{/if}} --}}
</section>
<section>
    <h2 class="edit-mode-hidden">Your flat:</h2>
    {{#if flat}}
    <p class="edit-mode-hidden">{{flat.name}}</p>
        <form class="edit-mode-show" action="/flat/{{flat._id}}/update" method="post">
            <h2>New flatname:</h2>
            <input type="text" name="name" value="{{flat.name}}">
            <button>Update flatname</button>
        </form>
        <form class="edit-mode-show delete-flat" action="/flat/{{flat._id}}/delete" method="post">
            <button type="submit" class="btn btn-edit btn-delete-flat">delete flat</button>
        </form>
    {{else}}
        <p>You are currently in no flat</p>
    {{/if}}
   
    <h2>Your flatmates:</h2>
        <ul class="list-flatmates unstyled">
           {{#each flat.users}}
                <li>
                    <figure class="user">
                        {{#if image}}
                            <img src="{{image}}" alt="{{username}}" />
                        {{else}}
                            <img src="/images/sad-puppy.jpg" alt="{{username}}" />
                        {{/if}}
                        <figcaption class="name">{{username}}</figcaption>
                    </figure>
                    <form class="edit-mode-show delete-flatmate" action="/flat/{{../flat._id}}/user/{{_id}}/delete" method="post">
                        <button type="submit" class="btn btn-edit btn-delete-flatmate">delete flatmate</button>
                    </form>
                </li>
            {{/each}}
            <li class="edit-mode-show"><a href="/flat/{{flat._id}}/add-flatmate" class="btn btn-add-flatmate">add flatmate</a></li>
        </ul>
</section>
<section>
    <h2>This week’s tasks:</h2>
    {{#if updatedTasks}}
        <ul class="list-tasks">
            {{#each updatedTasks}}
                <li>
                    <figure class="user">
                        {{#if image}}
                            <img src="{{image}}" alt="{{username}}" />
                        {{else}}
                            <img src="/images/sad-mini-pig.jpg" alt="{{username}}" />
                        {{/if}}
                        <figcaption class="name">{{this.user.username}}</figcaption>
                    </figure>
                    <p class="task">
                        <strong>{{this.name}}</strong><br>
                        <small>{{this.description}}</small>
                     </p>
                    <form class="edit-mode-show delete-task" action="/flat/{{../flat._id}}/task/{{_id}}/delete" method="post">
                        <button type="submit" class="btn btn-edit">delete task</button>
                    </form>
                    <div class="status">
                        {{#if isOwner}}
                                <form action="/flat/{{../flat._id}}/task/{{_id}}/update" method="post">
                                {{#if this.isDone}}
                                    <button class="btn btn-update-task">✅</button>
                                {{else}}
                                    <button class="btn btn-update-task">🔲</button>
                                {{/if}}
                            </form>
                        {{else}}
                            {{#if this.isDone}}
                                <div class="task-status">✅</div>
                            {{else}}
                                <div class="task-status">🔲</div>
                            {{/if}}
                        {{/if}}
                    </div>
                </li>
            {{/each}} 
        </ul>
    {{else}}
        <p>No tasks yet.</p>
    {{/if}}
</section>
<section class="add-task">
    <h2>Add task</h2>
    <form action="/flat/{{flat._id}}" method="post">
        <input type="text" name="taskname" value="" placeholder="Name">
        <input type="text" name="taskdescription" value="" placeholder="Description">
        <select name="taskuser">
            <option value="placeholder" disabled selected hidden>assign to flatmate</option>
            {{#each flat.users}}
                <option value="{{id}}">{{username}}</option>
            {{/each}}
        </select>
        <button>add task</button>
    </form>
</section>